.card-border{
  border: 0.5px solid #800000;
  border-radius: 3px;
  width: 300px;
  box-shadow: 5px 5px 0 #bbb;
  padding: 10px 10px 10px 10px;
  color: #800000;
  background: #ffebcd;
  font-family: Verdana,  Arial;
  font-size: 11px;
}

.text-border{
  border: 0.5px solid #800000;
  width: 280px;
  padding: 5px 10px 5px 10px;
}

.interesting-fact-text{
  font-style: italic;
}

.picture{
  padding: 10px 0;
}

.list{
  list-style-type: none;
  padding-left: 0;
}

.label{
  font-weight: bold;
}
